# Auto-detect text files and normalize to LF in the repo
* text=auto eol=lf

# Keep Windows scripts with CRLF endings on checkout
*.bat     text eol=crlf
*.cmd     text eol=crlf
*.ps1     text eol=crlf

# Exclude meta files from source archives
.gitattributes export-ignore
.gitignore     export-ignore
.github/*      export-ignore
